* {
    font-family: 'Century Gothic', Arial;
}

body {
    background-color: blanchedalmond;
}

.naglowek, .stopka {
    float: left;
    width: 100%;

    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}

.lewy {
    float: left;

    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray;
}

.nawigacyjny {
    float: left;

    width: 50%;
    height: 50px;
}

.prawy {
    float: left;

    width: 50%;
    height: 420px;
    overflow: auto;
}

input, button{
    margin-top: 20px;
}

li {
    display: inline-block;
}

img {
    width: 10%;
    float: left;
}

a {
    color: sienna;
    margin-right: 30px;
}

a:hover {
    color: #4C1900;
}

