body{
    background-color: #EEEEEE;
    font-family: Helvetica;
}

.calosc{
    width: 90%;
    margin: auto;
}

.naglowek{
    width: 100%;
    display: flex;
}

.logo, .menu{
    width: 50%;
    background-color: lightblue;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.baner{
    background-color: #DDDDDD;
    height: 200px;
}

.glowny{
    color: navy;
    margin: 50px;
    height: 400px;
}

.stopka{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
}

input[type="button"]{
    background-color: lightblue;
    color: navy;
} 

.menu a{
    color: navy;
    size: 150%;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

a:hover{
    border: solid 1px navy;
}

textarea{
    resize: none;
}