* {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

.nawigacyjny, .stopka {
    background-color: #00838F;
    color: #B2DFDB;
    padding: 10px;
}

.boczny, .sekcja {
    float: left;
    width: 50%;
    height: 600px;
    overflow: auto;
}

.sekcja {
    background-color: white;
}

.boczny {
    background-color: #B2DFDB;
}

.wycieczka {
    background-color: #00838F;
    opacity: 0.7;
    height: 150px;
    margin: 10px 100px;
    border-radius: 30px;
}

.wycieczka:hover {
    opacity: 1;
}

img {
    float: left;
    border-radius: 30px;
    padding: 7px;
}

li {
    display: inline-block;
    list-style-type: none;
}

a {
    color: #B2DFDB;
    text-decoration: none;
    margin-left: 50px;
}

a:hover {
    color: white;
    text-decoration: underline;
}